<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Accueil</a>
    <a class="navbar-brand" href="team">Team</a>
    <a class="navbar-brand" href="contact">Contact</a>
  </div>
</nav>
<h1>Contact</h1>
<p>Demandez au secretariat de THP ;-P</p>
<br>
<p>Sinon vous pouvez nous trouvez, on est sur slack ;-)</p>