<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Accueil</a>
    <a class="navbar-brand" href="team">Team</a>
    <a class="navbar-brand" href="contact">Contact</a>
  </div>
</nav>
<h1>Welcome <%=params[:first_name]%></h1>
<p>Nous sommes heureux de vous revoir!</p>
