<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Accueil</a>
    <a class="navbar-brand" href="../static_pages/team">Team</a>
    <a class="navbar-brand" href="../static_pages/contact">Contact</a>
  </div>
</nav>
<h1>Gossip</h1>

<%id = params[:id]%>
<%gossip = Gossip.find(id)%>
<%author = gossip.user%>
<%=gossip.title%>
<br><br>
<%=gossip.content%>
<br><br>
<a href="/user/<%=author.id%>"><%=author.first_name%></a>
